<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <header>
            <h1>Les promos de l'école Oclock</h1>
        </header>
    </div>
    <main class="main">
        <% for(const promo of promoResult) {%>
            <div class="main__promo">
                <h2>Promo : " <%= promo.name %> "</h2>
                <p>Promo id : <%= promo.id %> </p>
                <a class="promo-link" href="/promo/<%= promo.id %>">Voir les étudiants</a>
                <a class="github-link" href="<%= promo.github_orga %>">Github de la promo</a>
            </div>
        <%}%>
    </main>

    <footer>

    </footer>

</body>
</html>