<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
            <header>
                <h1>Les promos de l'école Oclock</h1>
            </header>
            <footer>
                <a href="/">Home</a>
            </footer>
            <form action="/search" method="GET">
                <label for="search-promo">Afficher une autre promo</label>
                <input type="text" id="search-promo" name="promoSearched">
                <input class="search" type="submit">
            </form>
            <form action="" method="POST">
                <label for="search-promo">Insérer un élève</label>
                <input type="text" id="nom" name="nom" placeholder="nom">
                <input type="text" id="prenom" name="prenom" placeholder="prénom">
                <input type="text" id="pseudo-github" name="pseudo-github" placeholder="pseudo-github">
                <input type="text" id="promo" name="promo" placeholder="promo">
                <input class="search" type="submit">
            </form>
    </div>
    <main class="main">
        <% for(const student of studentsResult) {%>
            <div class="main__students">
                <img class="img-profile" src="<%= student.profile_picture_url %>" alt="">
                <h2><%= student.first_name %></h2>
                <h3><%= student.last_name %></h3>
                <a class="github-link" href="https://github.com/<%= student.github_username %>">Lien Github</a>
            </div>
        <%}%>

    </main>

    <footer>

    </footer>

</body>
</html>